{% extends "base.html" %} {% block main%}
<h1> voeg een bungalow toe: </h1>
<div class="container mt-5">
    <div class="row mb-3">
        <form method="post" enctype="multipart/form-data" class="col-sm-12 col-md-6 offset-md-3">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label-md">Naam: </label>
                <div class="col-sm-10">
                    {{ form.name(class="form-control", id="name", placeholder="Voer de naam in") }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="content" class="col-sm-2 col-form-label-md">Content:</label>
                <div class="col-sm-10">
                    {{ form.content(class="form-control", id="content", placeholder="Voer de content in") }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="bungalow_type" class="col-sm-2 col-form-label-md">Type:</label>
                <div class="col-sm-10">
                    {{ form.bungalow_type(class="form-control", id="bungalow_type", placeholder="Voer het type in") }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="weekprice" class="col-sm-2 col-form-label-md">Prijs per week:</label>
                <div class="col-sm-10">
                    {{ form.weekprice(class="form-control", id="weekprice", placeholder="Voer de prijs per week in") }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label-md">Afbeelding:</label>
                <div class="col-sm-10">
                    {{ form.image(class="form-control", id="image") }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock%}