{% extends "base.html" %} {% block main%}
{% if current_user.is_authenticated %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<a href="/admin/add_bungalow">
  <button class="btn btn-primary">Voeg bungalow toe</button>
</a>
<a href="/admin/edit_bungalow">
  <button class="btn btn-primary">Pas een bungalow</button>
</a>

  {% else %}
<h1>jij hoort hier niet</h1>
  {% endif %}

{% endblock%}