{% extends "base.html" %}
{% block main %}

<div class="container achtergrond">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <label for="email_md" class="col-sm-2 col-form-label col-form-label-md">naam: </label>
            <div class="col-sm-10">
                {{ form.naam(class="form-control form-control-sm", id="email_sm", placeholder="voer je naam in") }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="email_md" class="col-sm-2 col-form-label-md">Email: </label>
            <div class="col-sm-10">
                {{ form.email(class="form-control", id="email_md", placeholder="voer je email in") }}
            </div>
        </div>
        <div class="row">
            <label for="email_md" class="col-sm-2 col-form-label col-form-label-md">wachtwoord: </label>
            <div class="col-sm-10">
                {{ form.wachtwoord(class="form-control form-control-md", id="email_lg", placeholder="voer je wachtwoord in", type="password") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>

    {% if naam %}
    <h1>Welcome {{ naam }}</h1>
    <p>Email: {{ email }}</p>
    <br>
    {% else %}
    <h1>Welcome, please log in</h1>
    {% endif %}
    </div>

</div>

{% endblock %}