{% extends "base.html" %}
{% block title %}Registreren{% endblock %}
{% block main %}

<div class="container achtergrond">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label col-form-label-md">Gebruikersnaam: </label>
            <div class="col-sm-10">
                {{ form.username(class="form-control form-control-sm", id="username", placeholder="Voer je gebruikersnaam in") }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label-md">E-mail: </label>
            <div class="col-sm-10">
                {{ form.email(class="form-control", id="email", placeholder="Voer je e-mailadres in") }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label-md">Wachtwoord: </label>
            <div class="col-sm-10">
                {{ form.password(class="form-control form-control-md", id="password", placeholder="Voer je wachtwoord in", type="password") }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="confirm_password" class="col-sm-2 col-form-label-md">Bevestig Wachtwoord: </label>
            <div class="col-sm-10">
                {{ form.confirm_password(class="form-control form-control-md", id="confirm_password", placeholder="Bevestig je wachtwoord", type="password") }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>

{% endblock %}
