{% extends "base.html" %} {% block main %}
<h2>Mijn Boekingen</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Bungalow</th>
      <th>Startdatum</th>
      <th>Einddatum</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking.id }}</td>
      <td>{{ booking.bungalow.name }}</td>
      <td>{{ booking.start_date }}</td>
      <td>{{ booking.end_date }}</td>
      <td>
        <a
          href="{{ url_for('bookings.update_booking', booking_id=booking.id) }}"
          class="btn btn-warning"
          >Bewerken</a
        >
        <form
          method="POST"
          action="{{ url_for('bookings.delete_booking', booking_id=booking.id) }}"
          style="display: inline"
        >
          {{ form.hidden_tag() }}
          <button type="submit" class="btn btn-danger">Verwijderen</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
