{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}

{% block main %}
<div class="container mt-4">
    {% if current_user.is_authenticated %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="d-flex flex-column align-items-start">
            <a href="/admin/add_bungalow" class="mb-3">
                <button class="btn btn-primary">Voeg bungalow toe</button>
            </a>
            <a href="/admin/edit_bungalow">
                <button class="btn btn-primary">Pas een bungalow aan</button>
            </a>
        </div>
        
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Toegang geweigerd!</h4>
            <p>Jij hoort hier niet.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
