{% extends "base.html" %} {% block main %}
<h1>Alle Bungalows</h1>
<div class="row">
  {% for bungalow in bungalows %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="{{ url_for('static', filename='img/' + bungalow.image_file) }}"
        class="card-img-top"
        alt="Bungalow1"
      />
      <div class="card-body">
        <h5 class="card-title">{{ bungalow.name }}</h5>
        <p class="card-text">{{ bungalow.content }}</p>
        <p class="card-text">Prijs per week: €{{ bungalow.weekprice }}</p>
        {% if current_user.is_authenticated %}
        <a
          href="{{ url_for('bookings.book_bungalow', bungalow_id=bungalow.id) }}"
          class="btn btn-primary"
          >Boek Nu!</a
        >
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary"
          >Log in om te boeken</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} {% for _ in range(9 - bungalows|length) %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div
        class="card-img-top"
        style="height: 200px; background-color: #e9ecef"
      ></div>
      <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        <p class="card-text">&nbsp;</p>
        <p class="card-text">&nbsp;</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
